.containerCenter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 600px;

  h1 {
    color: var(--white);
    padding-bottom: 1rem;
  }

  form {
    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }

  form button {
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    border-radius: 8px;
    border: 0;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }

  form button:hover {
    transform: scale(1.05);
  }

  div {
    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }

  div button {
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    border-radius: 8px;
    border: 0;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }

  div button:hover {
    transform: scale(1.05);
  }
}

.input {
  height: 40px;
  border: 1px solid var(--gray-100);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--dark-900);
  color: var(--white);
  font-size: 16px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.text {
  margin-top: 1rem;
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 620px) {
  .login {
    width: 90%;
  }
}

.buttonText {
  display: inline;
}

.spinner {
  display: none;
  border: 4px solid transparent;
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

.loading .buttonText {
  display: none;
}

.loading .spinner {
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
